/* STYLE SECTIONING TAGS */
body {
 background-color: #F5F5DC; 
}

/* STYLE TEXT */

h1 {
  color: #AC9362;
}

p {
  color: #5C4033;
}
p {
  font-family: "georgia";
}
/* STYLE IMAGES */

/* STYLE NAV BAR */